@import "base";

/* ----------------------------------------------------------------------------- *\
   RESETS
\* ----------------------------------------------------------------------------- */

button,
input,
select {
    color: $component-text-color;
}

::-moz-selection,
::selection {
    background: $selection-bg-color;
    text-shadow: none;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    color: $component-text-color;
    resize: vertical;
}

/* ----------------------------------------------------------------------------- *\
   UTILITIES
\* ----------------------------------------------------------------------------- */

%clearfix {
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

%ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;

    &:before {
        content: "";
        display: block;
        width: 0;
        height: 150%;
    }
}

.clearfix {
    @extend %clearfix;
}

.ir {
    @extend %ir;
}

/* ----------------------------------------------------------------------------- *\
   GLOBAL LAYOUT
\* ----------------------------------------------------------------------------- */

html {
    overflow-y: scroll;
}

body {
    font: $body-font;
    color: $body-font-color;
    line-height: 1.5;
}

/* ----------------------------------------------------------------------------- *\
   GLOBAL TYPOGRAPHY
\* ----------------------------------------------------------------------------- */

%a-shared {
    text-decoration: none;
    color: $link-color;
}

a {
    @extend %a-shared;

    &:visited {
        @extend %a-shared;
    }

    &:hover,
    &:active {
        color: $link-hover-color;
    }
}